body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Face */
  .face {
    width: 300px;
    height: 350px;
    background: #ff0;
    position: relative;
  }
  
  /* Eyes */
  .eyes {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 0 30px;
  }
  
  .eye {
    width: 40px;
    height: 60px;
    background: #000;
    position: relative;
    border-top: 20px;
    border-color: #fff;
  }
  
  .pupil {
    width: 40px;
    height: 60px;
    background: black;
    position: absolute;
    top: 15px;
    left: 25px;
  }
  
  /* Mouth */
  .mouth {
    width: 260px;
    height: 160px;
    background: black;
    margin: 30px auto 0;
    position: relative;
  }
  
  /* Teeth */
  .teeth {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 15px 0;
  }
  
  .tooth {
    width: 22px;
    height: 22px;
    background: white;
  }
  
  /* Tongue */
  .tongue {
    width: 120px;
    height: 80px;
    background: #f00;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  